[Interface]
Address = $wg_relay_ip/24
ListenPort = $wg_listen_port
MTU = $wg_mtu
PreUp = sysctl -w net.ipv4.ip_forward=1
PostUp = wg set %i private-key /etc/wireguard/wg0.key
PostUp = nft insert rule inet filter forward oifname "wg0" tcp flags syn / syn,rst tcp option maxseg size set rt mtu comment "wg0-mss-clamp-out"
PostUp = nft insert rule inet filter forward iifname "wg0" tcp flags syn / syn,rst tcp option maxseg size set rt mtu comment "wg0-mss-clamp-in"
PreDown = nft -a list chain inet filter forward | awk '/comment "wg0-mss-clamp-out"/ {h=$$NF; system("nft delete rule inet filter forward handle " h)}'
PreDown = nft -a list chain inet filter forward | awk '/comment "wg0-mss-clamp-in"/ {h=$$NF; system("nft delete rule inet filter forward handle " h)}'

[Peer]
# client peer — PublicKey filled from values (gen-secrets/wizard)
PublicKey = $wg_client_pubkey
AllowedIPs = $wg_client_ip/32
PersistentKeepalive = 25
